h1{
font-family: serif;
}

.wrapper {
  border: 1px solid #333;
  width: 450px;
  padding-left: 25px;
  float: left;
}
.b,.c,.d{
  float: left;
}

.c ul {
list-style-type: none;
color: purple;
}

.b {
  margin-top: 28px;
  background-color: green;
  color: red;
  font-size: 23px;
  padding: 7px;
}

.d {
  background-color: red;
  color: green;
  margin-top: 25px;
  margin-left: 35px;
  font-size: 23px;
  padding: 7px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.e {background-color: red;
color: green;
margin-top: 25px;
margin-left: 18px;
font-size: 23px;
padding: 7px;
}
.f {
  background-color: red;
  color: green;
  margin-top: 25px;
  margin-left: 15px;
  font-size: 23px;
  padding: 7px;
}
.image-container {
  float: right;
}
body {
  background-image: url("https://media1.giphy.com/media/unRa3ffljnuec/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
}
